:root {
  --nav-background-color: #000;
  --primary-color: #000;
  --primary-color-hover: #000;
  --bg-color: #ffffff;

  --light-color: #fff;
  --border-color: #8A94A4;

  --spacing-unit: 8px;

  --breakpoint-lg: 1024px;

  --body-color: #464646;
  --heading-color: #121212;

  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.875rem;
  font-weight: 300;
  background: #EEEEEE;
  color: var(--body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

.container {
  /* 16px for each side padding */
  max-width: calc(1024px + 16px + 16px);
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

button {
  cursor: pointer;
}

input {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 400;
}

input::placeholder {
  color: var(--border-color);
}