:root {
  --bar-height: 40px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-inline: calc(var(--spacing-unit) * 2);
}

.button {
  height: var(--bar-height);
  border: 1px solid var(--border-color);
  border-right: 0;
  background: none;
  border-radius: 8px 0 0 8px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border-radius: 0 8px 8px 0;
  border-left: 0;
  flex: 1;

  padding-left: 5px;
}

@media (min-width: 1024px) {
  .wrapper {
    padding-inline: 0;
  }
}